.input {
    height: 25px;
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(206, 205, 205);
}

.title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}